/capitulo02/Clase02/nbproject/private/
/capitulo02/Clase02/build/
/capitulo03_clase04_05_06/Capitulo3Primitivos/nbproject/private/
/capitulo03_clase04_05_06/Capitulo3Primitivos/build/
/capitulo03_clase04_05_06/Clase6TrabajoPractico/nbproject/private/
/capitulo03_clase04_05_06/Clase6TrabajoPractico/build/
/capitulo03_clase04_05_06_07/Clase06/nbproject/private/
/capitulo03_clase04_05_06_07/Clase06/build/